EXPO_PUBLIC_SUPABASE_URL=https://ojfqvdfactdrdwydkurk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZnF2ZGZhY3RkcmR3eWRrdXJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgxOTcxNjYsImV4cCI6MjA2Mzc3MzE2Nn0.PFfLoRgRqjH7vCrcIDwU-zLwU2Tv0_j6LPfIkZZbsK4